@media(max-width: 1500px){
    .hero-right img{
        width: 100%;
    }
    .triangle-shape{
        width: 350px;
        height: 350px;
    }
}
@media(max-width: 1200px){
    .triangle-shape{
        width: 310px;
        height: 310px;
        left: 60px;
    }
    .hero-content{
        flex-wrap: wrap;
    }
    .hero-left{
        width: 80%;
    }
    .hero-left h1{
        font-size: 70px;
    }
    .hero-right img {
        width: 100%;
    }
    .category-row{
        flex-wrap: wrap;
    }
    .category-item {
        width: calc(33% - 62px) ;
    }
    .about-row{
        gap: 24px;
    }  
    .about-row .about-left{
        width: calc(50% - 12px);
    }
    .about-row .about-right{
        width: calc(50% - 12px);
    }
    .break{
        display: none;
    }
    .menu-card{
        width: calc(33.33% - 60px);
    }
}

@media (max-width: 992px){
    .team-row{
        flex-wrap: wrap;
    }
    .team-single{
        width: calc(33% - 18px);
    }
}

@media(max-width: 900px){
    .hero-left {
        width: 100%;
    }
    .triangle-shape{
        width: 250px;
        height: 250px;
        left: 30px;   
    }
    .about-row{
        flex-wrap: wrap;
    }
    .about-row .about-left{
        width: 100%;
    }
    .about-row .about-right{
        width: 100%;
    }
    .wcs-section .wcs-left{
        width: 100%;
    }
    .wcs-section .wcs-right{
        width: 100%;
    }
    .menu-card-row{
        gap: 15px;
    }
    .menu-card{
        width: calc(50% - 60px);
    }
}
@media (max-width: 850px){
    .nav-menu{
        display: none;
    }
    .mobile-menu-btn{
        display: inline-block;
    }
    .hero-left h1{
        font-size: 58px;
    }
    .triangle-shape{
        width: 240px;
        height: 240px;
    }
    .offerd-row{
        flex-wrap: wrap;
    }
    .offerd-row .offerd-details{
        width: 100%;
    }
    .offerd-row .offerd-img{
        width: 100%;
    }
   
}

@media (max-width: 768px){
    .team-row{
        flex-wrap: wrap;
    }
    .team-single{
        width: calc(50% - 30px);
    }
}


@media (max-width: 630px){
    .category-item{
        width: calc(50% - 62px);
    }
    .menu-card{
        width: 100%;
        max-width: 300px;
    }
    
}

@media (max-width: 470px){
    .header-right .tamplate-btn{
        display: none;
    }
    .hero-left h1{
        font-size: 42px;
    }
    .hero-right {
        width: 100%;
    }
  .triangle-shape {
    left: 0;
    width: 336px;
    height: 336px;
    left: 50px;
}
.category-item{
    width: 100%;
}
.wcs-left .wcs-horizontal-box{
    gap: 15px;
}
.team-single{
    width: 100%;
}
.team-single{
    width: 100%;
}

}